/**
 * @name transparent chatbox
 * @author void#1000
 * @version v1.0.2
 * @description uwu | now with error messages
*/


:root {
    --bg-chatbox: #20222581;
    --bg-divider: var(--background-modifier-accent); /* discords default color */
}

.scroller-2LSbBU {
	bottom: -39em;
}

.scrollerSpacer-avRLaA {
	height: 41em;
}

.scrollerSpacer-avRLaA.empty-6MGttt {
    height: 40em;
}

.scroller-2LSbBU::-webkit-scrollbar-track {
    margin-bottom: calc(39em + 0.5em);
}

.form-2fGMdU::before {
    display: none;
}

.channelTextArea-rNsIhG {
    background-color: transparent;
}

.jumpToPresentBar-G1R9s6, .messagesErrorBar-nyJGU7 {
    bottom: 8px;
    background-color:transparent;
    opacity: 1;
}

.jumpToPresentBar-G1R9s6 .barButtonBase-2uLO1z, .messagesErrorBar-nyJGU7 .barButtonBase-2uLO1z {
    height: 37px;
    bottom: -7px;
}

.container-2fRDfG, .scrollableContainer-2NUZem {
	background-color: var(--bg-chatbox);
}

.jumpToPresentBar-G1R9s6::before, .messagesErrorBar-nyJGU7::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -50em;
    height: 50em;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 -38px 0 0 var(--bg-chatbox);
}

/* remove below if you dislike the dividers */

.container-2fRDfG::after /* reply divider */,
.jumpToPresentBar-G1R9s6::after /* jumpto divider */,
.messagesErrorBar-nyJGU7::after /*error divider */ {
    content: "";
    width: calc(100% - 10px); 
    background: var(--bg-divider);
    margin-left: 5px;
    position: absolute;
    height: 1px;
    top: 44px; 
}

.container-2fRDfG::after {
    top: 33px;
}